@import "./mixines";

* {
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

a {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

a:hover {
  transform: scale(105%);
}

body {
  width: 100vw;
  height: 100vh;
  @include flex (column, space-between, center);
  overflow: hidden;
}

p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
}