@import "../general/mixines";

.header {
  width: 100%;
  height: 120px;
  @include flex(row, center, center);
  background-color: #69f6f9;  
}

.header__control-panel {
  @include flex(row, space-between, center);
}

.header-control-panel__create-car-form {
  @include flex(column, space-between, center);
}

.header__create-cars-panel {
  @include flex(column, space-evenly, center);
}

.header__race-panel {
  @include flex(column, space-evenly, center);
}

.header__nav-panel {
  @include flex(row, space-between, center);
}